ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

body {
    background-image: url("background2.png");
}

p {
    font-size: 110%;
    font-family: JosefinSlab;
}

@font-face {
    font-family: "Stalemate";
    src: url("Stalemate-Regular.ttf");
}

@font-face {
    font-family: "JosefinSlab";
    src: url("JosefinSlab-Regular.ttf");
}

h1 {
    font-family: Stalemate;
    font-size: 310%;
}

h2 {
    font-family: JosefinSlab;
    font-size: 200%;
}